
.navbar ul, .picto-user ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap:2rem;
}

.navbar ul li:first-child a{
    color:#979797;
}

.container-nav{
    display: flex;
    justify-content: space-between;
    margin-top:1.5rem;
}